


.navbar-expand-lg {
    padding: 10px 10px;
    height: 50px;
    margin: 30px;
    
}

.cor-de-fundo{
    background: black; 
}

.Pro-Max{
    display: flex;
    justify-content: center;
}

.offcanvas-header{
    color: aliceblue;
    background: red;
   height: 500px;
}

#offcanvasTopLabel{
    font-size: 14px;
}
/* segunda parte */

.container{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 15px;
    background: black; 
    border-radius: 10px;   
    background-image:url(img/batman.jpg);
    background-repeat: no-repeat;
    background-size: 30% 200px;
    border: solid red 1px;
    
   
}
.paragrafos{
    color:rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    font-weight: 900;
    
}
.saibaMais{
    color: aliceblue;
    display:flex;
    justify-content: center;
}


/* 3 parte */

.scrool{
    margin: 80px;
   
}

.card{
    margin: 100px;
}

.card-body{
    color: aliceblue;
    background: black;
    border-radius: 10px; 
   
}
.form-label{
    color: aliceblue;
}
.emmail{
    margin: 100px;
}
.email{
    width: 100%;
    
}
#enviar{
    margin: 10px;
    width: 200px;

}
.bot-enviar{
    display: flex;
    justify-content: center;
 

}
.copy{
    display: flex;
    justify-content: center;
    color: aliceblue;
}